body {
    text-decoration: none;
    color: #fff;
    background-color: #333;

    background: linear-gradient(270deg, rgba(166, 112, 81, 0.9) 16.45%, rgba(104, 105, 81, 0.85) 27.78%, #296251 64.26%);
    font-family: "Montserrat";
}

*{
    margin: 0px;
    padding: 0px;
}

main {
    background-image: url(../img/background-inicio.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -120px;
}

header {
    border-bottom: 1px solid white;
    display: flex;
    padding: 1vh;
}

.social-header img,
.contact-header img {
    height: 2.6vh;
}

.social-header img {
    padding-left: 1.8vh;
}

.contact-header {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact-header p,
.contact-header img{
    margin-right: 1vh;
}

.contact-header p {
    font-size: 2.5vh;
    margin-right: 3vh;

}

nav {
    display: flex;
    padding-top: 3vh;
}

nav img {
    width: 12.5vh;
    margin-left: 2vh;
}

.secoes {
    margin-left: auto;
}

.secoes a {
    padding-right: 8vh;
    font-size: 3vh;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.fale-conosco {
    word-spacing: 0.7vh;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.nome-empresa {
    font-size: 6.5vh;
    color: #fff;
}

.imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   

    position: relative;
}

.caixa-imagens {
    background-color: #E5E3E3;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    border-radius: 15px;
    padding: 5vh 2vh;
    box-shadow: 0px 0px 12px #00000060;

    position: absolute;
}

.titulo {
    font-size: 4vh;
    padding-bottom: 2vh;
}

.subtitulo {
    font-size: 3vh;
    padding-bottom: 4vh;
}

.carrossel {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container img {
    width: 75%;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #00000060;
}

.seta-esquerda {
    margin-right: 3vh;
    height: 5vh;
}

.seta-direita {
    margin-left: 3vh;
    height: 5vh;
}

.container img {
    display: none; 
}

.container img.imagemAtiva {
    display: block; 
}

.contact {
    background-image: url(../img/cama-incio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
    width: 100%;
    background-position: center -100px;

    display: flex;
    color: #000;
    align-items: center;
    justify-content: space-between;
    font-size: 4vh;
}

.text-contact {
    width: 52vh;
    text-align: center;
}

.texto {
    margin-left: 10vh;
}

.infos,
.texto {
    background-color: #838383a1;
    border-radius: 20px;
    padding: 1vh 2vh;
}

.botao-fale-conosco {
    margin-right: 12vh;
    padding: 3vh 5vh;
    border-radius: 30px;
    background-color: rgba(3, 185, 3, 60%);
    font-size: 2vh;
    box-shadow: 0px 0px 8px #00000060;
    transition-duration: 0.2s;
}

.botao-fale-conosco:hover {
    background-color: rgba(3, 185, 3, 100%);
    transform: scale(1.1);
}

footer {
    background-color: #296251;
    display: flex;
    align-items: center;
    height: 20vh;
    font-size: 2.2vh;
    color: #fff;
    padding-left: 10vh;
}

.informacoes-footer {
    display: flex;
    justify-content: space-between;
    width: 140vh;
}

.text-empresa,
.text-endereco,
.text-social,
.text-contato-footer {
    font-size: 3vh;
    padding-bottom: 1vh;
    font-weight: bold;
}

footer img {
    height: 7vh;
    padding-left: 8vh;
}