@media (max-width: 1200px) {
    .contact {
        flex-direction: column;
    }
    .texto,
    .infos,
    .botao {
        margin: auto;
    }
    
    footer,
    .informacoes-footer {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width: 700px) {
    footer,
    .informacoes-footer {
        grid-template-columns: repeat(1, 300px);
    }
}